<%= form_for [@trade_team, @traded_player] do |f| %>
  <% if @traded_player.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@traded_player.errors.count, "error") %> prohibited this article from being saved:</h4>
      <ul>
        <% @traded_player.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :player %><br>
    <%= f.collection_select(:player_id, Player.where(team_id: @trade_team.team_id), :id, :name) %>
  </p>

  <p>
    <%= f.submit("Select Player") %>
  </p>

  <%= link_to "Select Another Team", trade_path(@trade) %>

<% end %>
