<center><h2><%= link_to "Make a trade!", trades_path, id: "trade" %></h2></center>



<% if user_signed_in? %>

<h3>Your trades</h3>

  <% @trades.each do |trade| %>
    <% if trade.status %>
      <hr>
      <h3>Trade Result: <%= trade.status %></h3>
      <% if trade.cap_needed %>
        <h4 id="red">For trade to pass, cut <%= trade.cap_needed_team %> salary by $<%= trade.cap_needed %></h4>
      <% end %>
      <% trade.trade_teams.each do |trade_team| %>
        <% trade_team.traded_players.each do |traded_player| %>
          <h4><%= Team.find(trade_team.team_id).name %></h4>
          <h5><%= Player.find(traded_player.player_id).name %> | <%= Player.find(traded_player.player_id).position %> | $<%= Player.find(traded_player.player_id).salary %></h5>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
