<center><h2><%= link_to "Make a trade!", trades_path, id: "trade" %></h2></center>

<% unless user_signed_in? %>
<ol>
  <h4>Instructions:<br><br>
      <li><%= link_to "Create an account", new_user_registration_path %> or
      <%= link_to "login with Twitter", user_omniauth_authorize_path(:twitter) %></li>
      <li>Select a team, then select the player(s) you want to trade</li>
      <li>Select another team, then select the player(s) you want to trade to the original team. (Only 2 team trades are allowed at this time.)</li>
      <li>Submit trade! It will then be evaluated to see if it would pass based on current NFL salary data, and each team's improvement/decline will be measured</li>
  </h4>
</ol>
<% else %>
  <h3>Your trades</h3>

  <% @trades.each do |trade| %>
    <% if trade.status %>
      <hr>
      <h3 id="black"><strong>Trade Result: <%= trade.status %></strong></h3>
      <h4 id="blue"><strong><%= trade.team_1_new_cap_hit %> | <%= trade.team_2_new_cap_hit %></strong>
      <% if trade.team_1_change %>
        <h4 id="blue"><strong><%= trade.team_1_change %> | <%= trade.team_2_change %></strong></h4>
      <% end %>
      <% if trade.cap_needed %>
        <h4 id="red"><strong>For trade to pass, cut <%= trade.cap_needed_team %> post-trade salary by <%= number_to_currency(trade.cap_needed, precision: 0) %></strong></h4>
      <% end %>
      <% trade.trade_teams.each do |trade_team| %>
      <h4><img src="<%= trade_team.team.logo %>"/> <%= trade_team.team.name %> (Salary Cap: <%= number_to_currency(trade_team.team.salary_cap, precision: 0) %>) trades:</h4>
        <% trade_team.traded_players.each do |traded_player| %>
          <h5><%= traded_player.player.name %> | <%= traded_player.player.position %> | <%= number_to_currency(traded_player.player.salary, precision: 0) %></h5>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
