<center><h2><%= link_to "Make a trade!", trades_path, id: "trade" %></h2></center>

<% if user_signed_in? %>

<h3>Your trades</h3>

  <% @trades.each do |trade| %>
    <% if trade.status %>
      <hr>
      <h3 id="black"><strong>Trade Result: <%= trade.status %></strong></h3>
      <h4 id="blue"><strong><%= trade.team_1_new_cap_hit %> | <%= trade.team_2_new_cap_hit %></strong>
        <% if trade.cap_needed %>
          <h4 id="red"><strong>For trade to pass, cut <%= trade.cap_needed_team %> post-trade salary by $<%= trade.cap_needed %></strong></h4>
        <% end %>
      <% trade.trade_teams.each do |trade_team| %>
      <h4><img src="<%= Team.find(trade_team.team_id).logo %>"/> <%= Team.find(trade_team.team_id).name %> (Salary Cap: <%= number_to_currency(Team.find(trade_team.team_id).salary_cap, precision: 0) %>) trades:</h4>
        <% trade_team.traded_players.each do |traded_player| %>
          <h5><%= Player.find(traded_player.player_id).name %> | <%= Player.find(traded_player.player_id).position %> | <%= number_to_currency(Player.find(traded_player.player_id).salary, precision: 0) %></h5>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
