<%= form_for @trade_team do |f| %>

  <p>
    <%= f.label :team %><br>
    <%= f.collection_select(:team_id, Team.all, :id, :name) %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<% if current_user.trade_teams %>
  <%= form_for @traded_player do |f| %>

    <p>
      <%= f.label :player %><br>
      <%= f.collection_select(:player_id, Player.all, :id, :name) %>
    </p>

    <p>
      <%= f.submit %>
    </p>

  <% end %>
<% end %>

