
<%= form_for @trade do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h4 class="red">Error:</h4>
      <ul>
        <% @trade.errors.full_messages.each do |msg| %>
          <li class="red"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.submit "Start Trade", class: 'trade' %>
  </p>
<% end %>

<%= link_to "See all Trades", root_path %>
<% unless current_user.trades == [] || current_user.trades.last.status.nil? || current_user.trades.last.trade_teams.length < 2 %>
<hr>
  <h3><strong>Trade Result: <%= current_user.trades.last.status %></strong></h3>
    <h4 class="blue"><strong><%= current_user.trades.last.team_1_new_cap_hit %> | <%= current_user.trades.last.team_2_new_cap_hit %></strong></h4>
    <% if current_user.trades.last.team_1_change %>
    <h4 class="blue"><strong><%= current_user.trades.last.team_1_change %> | <%= current_user.trades.last.team_2_change %></strong></h4>
    <% end %>
    <% if current_user.trades.last.cap_needed %>
    <h4 class="red"><strong>For trade to pass, cut <%= current_user.trades.last.cap_needed_team %> post-trade salary by <%= number_to_currency(current_user.trades.last.cap_needed, precision: 0) %></strong></h4>
    <% end %>
    <% current_user.trades.last.trade_teams.each do |trade_team| %>
      <h4><img src="<%= trade_team.team.logo %>"/> <%= trade_team.team.name %> (Salary Cap: <%= number_to_currency(trade_team.team.salary_cap, precision: 0) %>) trades: </h4>
        <% trade_team.traded_players.each do |traded_player| %>
        <h5><%= traded_player.player.name %> | <%= traded_player.player.position %> | <%= number_to_currency(traded_player.player.salary, precision: 0) %></h5>
    <% end %>
  <% end %>
<% end %>
