<% if current_user.trades.last.trade_teams.length < 2 %>
  <%= form_for [@trade, @trade_team] do |f| %>
    <% if @trade_team.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@trade_team.errors.count, "error") %> prohibited this article from being saved:</h4>
        <ul>
          <% @trade_team.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :team %><br>
      <%= f.collection_select(:team_id, Team.all, :id, :name) %>
    </p>


    <p>
      <%= f.submit("Select Team") %>
    </p>
  <% end %>
<% end %>

<% if current_user.trades.last.trade_teams.length >= 2 %>
  <%= form_for @trade do |f| %>
  <p>
    <%= f.submit("Submit Trade") %>
  </p>
  <% end %>
<% end %>
