<%= form_for [@trade, @trade_team] do |f| %>

  <p>
    <%= f.label :team %><br>
    <%= f.collection_select(:team_id, Team.all, :id, :name) %>
  </p>

  <p>
    <%= f.submit("Select Team") %>
  </p>

<% end %>

<%= form_for @trade do |f| %>

  <p>
    <%= f.submit("Submit Trade") %>
  </p>
<% end %>
